<div id="<%= dom_id entre %>">
  <p>
    <strong>Meal type:</strong>
    <%= entre.meal_type %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= entre.calories %>
  </p>

  <p>
    <strong>Protiens:</strong>
    <%= entre.protiens %>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= entre.carbohydrates %>
  </p>

  <p>
    <strong>Fats:</strong>
    <%= entre.fats %>
  </p>

</div>
